# Auto detect text files and perform LF normalization
* text=auto
* linguist-vendored
frontend/js/* linguist-vendored=false
*.html linguist-vendored=false
*.java linguist-vendored=false
frontend/css/* linguist-vendored=false
*.sql linguist-language=SQL
