# Auto detect text files and perform LF normalization
# * text=auto
*.css linguist-vendored
frontend/assets/css/* linguist-vendored
frontend/css/* linguist-vendored
frontend/vendor/* linguist-vendored

